mixin about({ className = false })
    include ./data
    include ../../components/advantage/advantage

    section.about(class=className id="about")
        .about__container
            h2.about__title Более 20 лет
            .about__row
                .about__info-col
                    header.about__header    
                        p.about__subtitle мы&nbsp;осуществляем деятельность по&nbsp;исследованию, подтверждению соответствия угля, разработке стандартов&nbsp;на угли и&nbsp;продукты их&nbsp;переработки.
                    .about__info-wrapper 
                        .about__staff 
                            .about__slider.gallery(id="about-gallery")
                                .gallery__list.about__gallery-list
                                    each slide in aboutStaff
                                        .gallery__slide.about__slide
                                            .about__slide-inner
                                                .about__slide-info
                                                    p.about__slide-description Сертифицированные специалисты «НИЦ&nbsp;Уголь»
                                                    h4.about__slide-title !{slide.title}
                                                    small.about__slide-status !{slide.status}
                                                img.about__slide-img.tns-lazy(
                                                    data-src=`./img/about/${slide.imgName}.png` 
                                                    data-srcset=`./img/about/${slide.imgName}@2x.png 2x` 
                                                    alt=`Фото сотрудника ${slide.title}`
                                                )
                                .gallery__footer.about__slider-footer
                                    .gallery__control-panel
                                        .gallery__pagination 
                                            span.gallery__pagination-item.gallery__pagination-item_active(id="active-pagination") 01
                                            | /
                                            span.gallery__pagination-item(id="total-pagination") 03
                                        .gallery__controls(id="controls")
                                            button.gallery__control.link
                                                +icon({
                                                    iconName: 'arrow-left',
                                                    viewBoxName: '0 0 17 16',
                                                    className: 'gallery__control-icon'
                                                })
                                            button.gallery__control.link
                                                +icon({
                                                    iconName: 'arrow-right',
                                                    viewBoxName: '0 0 17 16',
                                                    className: 'gallery__control-icon'
                                                })
                                p.about__gallery-subtitle Специалисты компании
                        .about__info
                            p.about__description.about__description_bold ТОО «НИЦ&nbsp;«Уголь» является одним из передовых предприятий, осуществляющих деятельность по исследованию, подтверждению соответствия угля, разработке стандартов на угли и продукты их переработки. 
                            p.about__description.about__description_small Выполняем заказы государственных органов и хозяйствующих субъектов в рамках Республики Казахстан, СНГ, ЕАЭС, ВТО. Разрабатывает правовые, нормативные, технические, научные документы, осуществляет сертификацию, классификацию, кодификацию, идентификацию углей и продуктов их переработки, проводит около 100 видов анализов и испытаний, услуг.
                            button.about__link.link.link_underline.link_arrow(data-custom-open='modal-about') Подробнее о компании <span class="link__arrow">→</span>
                .about__advantages-col
                    img.about__map(src="./img/about/map.png" srcset="./img/about/map@2x.png 2x" alt="Карта Казахстана с отметками клиентов из разных городов")
                    ul.about__advantages
                        each advantage in aboutAdvantages
                            +advantage({
                                title: advantage.title,
                                description: advantage.description,
                                className: 'about__advantage',
                            })
    