mixin contacts({ className = false })
    include ./data
    include ../../components/map/map

    section.contacts(class=className id="contacts")
        .contacts__container
            h2.contacts__title Контактная информация
            .contacts__row
                .contacts__info-col
                    h3.contacts__subtitle Звоните
                    ul.contacts__links
                        each phone, index in config.phone
                            li.contacts__link-item 
                                a.contacts__link.link(class=`${index === 0 ? "link_size_xl" : "link_size_large"}` href=`tel:${phone.tel}`) !{phone.number}
                                small.contacts__link-description !{phone.text.long}
                    p.contacts__description
                        | Работаем Пн-Пт с 8:30 до 17:30 <br>
                        mark (прием проб круглосуточно)

                    p.contacts__bold-title.p-bold Пишите в мессенджер, ответим оперативно в течении 30 минут 
                    ul.contacts__socials-list
                        li.contacts__socials-item 
                            +social({ 
                                hrefName: config.socials.whatsapp.href,
                                className: 'contacts__social social_size_lg', 
                                iconName: config.socials.whatsapp.iconName,
                                viewBoxName: '0 0 15 15'
                            })
                        li.contacts__socials-item 
                            +social({
                                hrefName: config.socials.telegram.href,
                                className: 'contacts__social social_size_lg',
                                iconName: config.socials.telegram.iconName,
                                viewBoxName: '0 0 15 15'
                            })
                    p.contacts__bold-title Пишите на e-mail
                    a.contacts__mail.link.link_underline.link_alpha(href="mailto:info@nicugol.kz") info@nicugol.kz
                    a.contacts__mail.link.link_underline.link_alpha(href="mailto:nicugol@yandex.ru") nicugol@yandex.ru
                .contacts__gallery-col
                    h3.contacts__subtitle Наша лаборатория и офисы
                    .contacts__description-block
                        p.contacts__description Имеем собственную лабораторию, оснащённую всем необходимым оборудованием.
                        p.contacts__description Смотрите наши фотографии ниже:
                    .contacts__gallery.gallery(id="contacts-gallery")
                        .gallery__footer
                            .gallery__control-panel
                                .gallery__pagination 
                                    span.gallery__pagination-item.gallery__pagination-item_active(data-active-pagination) 01
                                    | /
                                    span.gallery__pagination-item(data-total-pagination) 03
                                .gallery__controls(data-controls)
                                    button.gallery__control.link
                                        +icon({
                                            iconName: 'arrow-left',
                                            viewBoxName: '0 0 17 16',
                                            className: 'gallery__control-icon'
                                        })
                                    button.gallery__control.link
                                        +icon({
                                            iconName: 'arrow-right',
                                            viewBoxName: '0 0 17 16',
                                            className: 'gallery__control-icon'
                                        })
                        .gallery__list
                            each slide, index in Array(19)
                                .gallery__slide
                                    a.contacts__slide-inner(data-fslightbox="contacts" href=`./img/contacts/${index + 1}-detailed.jpg`)
                                        img.contacts__slide-img.tns-lazy(
                                            src=config.srcPixel
                                            data-src=`./img/contacts/${index + 1}.jpg` 
                                            data-srcset=`./img/contacts/${index + 1}@2x.jpg 2x` 
                                            alt=`Картинка преимущества`
                                        )
                .contacts__map-col
                    h3.contacts__subtitle Наш адрес
                    p.contacts__description г.Караганда, проспект Н.Назарбаева, 74а <br>(заезд со стороны улицы Гастелло)
                    +map({
                        className: 'contacts__map'
                    })