mixin modal-template({ className = false, modalName, title, description, slides, iconName = false, advantage, dotsPosition })
    include ../../modules/about/data
    include ../modal/modal
    include ../input/input
    include ../checkbox/checkbox

    +modal({
        modalName,
        className: 'modal_xl modal-template',
        title,
        description,
        iconName,
        dotsPosition
    })      
        .modal-template__row 
            .modal-template__gallery-col
                if advantage
                    .modal-template__advantage-top.checked-item 
                        +icon({
                            iconName: 'check',
                            viewBoxName: '0 0 11 8',
                            className: 'checked-item__icon'
                        })
                        | !{advantage}
                .modal-template__gallery.gallery(data-modal-template-gallery)
                    .gallery__footer
                        .gallery__control-panel
                            .gallery__pagination 
                                span.gallery__pagination-item.gallery__pagination-item_active(data-active-pagination) 01
                                | /
                                span.gallery__pagination-item(data-total-pagination) 03
                            .gallery__controls(data-controls)
                                button.gallery__control.link
                                    +icon({
                                        iconName: 'arrow-left',
                                        viewBoxName: '0 0 17 16',
                                        className: 'gallery__control-icon'
                                    })
                                button.gallery__control.link
                                    +icon({
                                        iconName: 'arrow-right',
                                        viewBoxName: '0 0 17 16',
                                        className: 'gallery__control-icon'
                                    })
                    .gallery__list
                        each slide, index in Array(19)
                            .gallery__slide
                                a.modal-template__slide-inner(data-fslightbox=modalName href=`./img/contacts/${index + 1}-detailed.jpg`)
                                    img.modal-template__slide-img.tns-lazy(
                                        src=config.srcPixel
                                        data-src=`./img/contacts/${index + 1}.jpg` 
                                        data-srcset=`./img/contacts/${index + 1}@2x.jpg 2x` 
                                        alt=`Картинка преимущества`
                                    )
                ul.modal-template__advantages
                    each advantage in aboutAdvantages
                        +advantage({
                            title: advantage.title,
                            description: advantage.description,
                            className: 'modal-template__advantage',
                        })
            .modal-template__info-col
                .modal-template__content.content.custom-scroll
                    block
                +btn({ 
                    icon: {
                        position: 'left',
                        iconName: 'request',
                        viewBoxName: '0 0 31 27'
                    },
                    className: 'modal-template__btn btn_size_lg btn_theme_alpha', 
                    title: 'Оставить заявку',
                    attributesName: {
                        'data-custom-open': 'modal-request'
                    }
                })