mixin card({ className = false, iconName, title, description, advantage, modalName, dotsPosition })
    include ../card-img/card-img

    li.card(class=className)
        +card-img({
            className: 'card__img',
            iconName,
            dotsPosition
        })
        .card__info
            h4.card__title !{title}
            p.card__description !{description}
            p.card__advantage.checked-item
                +icon({
                    iconName: 'check',
                    viewBoxName: '0 0 11 8',
                    className: 'checked-item__icon'
                })
                | !{advantage}
            .card__footer 
                +btn({ 
                    className: 'card__btn btn_size_md btn_theme_alpha-hover', 
                    title: 'Заказать услугу',
                    attributesName: {
                        'data-custom-open': 'modal-request',
                    }
                })
                button.card__link.link.link_underline.link_arrow(data-custom-open=`modal-${iconName}`) Подробнее <span class="link__arrow">→</span>