mixin intro({ className = false })
    include ./data
    include ../../components/advantage/advantage

    section.intro
        .intro__container
            .intro__row 
                .intro__info-col
                    h1.intro__title ТОО «НИЦ «Уголь»
                    p.intro__description предлагает комплекс услуг по исследованию, испытанию, стандартизации и сертификации углей и продуктов их переработки по всему Казахстану
                    ul.intro__advantages
                        each advantage in advantagesInfo
                            +advantage({ 
                                className: 'intro__advantage advantage_state_horizontal',
                                title: advantage.title,
                                description: advantage.description
                            })
                    .intro__buttons
                        +btn({ 
                            className: 'intro__btn btn_size_lg btn_theme_alpha-hover', 
                            title: 'Оставить заявку',
                            icon: {
                                position: 'left',
                                iconName: 'request',
                                viewBoxName: '0 0 31 27'
                            },
                            attributesName: {
                                'data-custom-open': 'modal-call'
                            }
                        })
                        a.intro__link.link.link_underline.link_arrow(href="#services") Наши услуги <span class="link__arrow">→</span>
                .intro__img-col
                    .intro__gallery.gallery(id="intro-gallery")
                        .gallery__rounds.rounds
                            span.rounds__dot.rounds__dot_1.dot
                            span.rounds__dot.rounds__dot_2.dot
                            span.rounds__dot.rounds__dot_3.dot
                        .gallery__list.intro__gallery-list
                            each slide in sliderInfo
                                .gallery__slide
                                    img.gallery__img.tns-lazy(
                                        src=config.srcPixel
                                        data-src=`./img/intro/${slide.imgName}.png` 
                                        data-srcset=`./img/intro/${slide.imgName}@2x.png 2x`
                                        alt=""
                                    )
                        .gallery__footer.intro__gallery-footer
                            .gallery__control-panel
                                .gallery__pagination 
                                    span.gallery__pagination-item.gallery__pagination-item_active(data-active-pagination) 01
                                    | /
                                    span.gallery__pagination-item(data-total-pagination) 03
                                .gallery__controls(data-controls)
                                    button.gallery__control.link
                                        +icon({
                                            iconName: 'arrow-left',
                                            viewBoxName: '0 0 17 16',
                                            className: 'gallery__control-icon'
                                        })
                                    button.gallery__control.link
                                        +icon({
                                            iconName: 'arrow-right',
                                            viewBoxName: '0 0 17 16',
                                            className: 'gallery__control-icon'
                                        })
                            .gallery__thumbnails(data-thumbnails)
                                each slide in sliderInfo
                                    .gallery__description !{slide.description}
                                    
        a.intro__mouse(href="#services")
            svg.intro__mouse-icon(width='20' height='69' viewbox='0 0 20 69' fill='none' xmlns='http://www.w3.org/2000/svg')
                path.intro__mouse-arrow(d='M10.608 68.254L3.09 62.962L3.09 61.828L10.146 66.742L10.146 52L10.986 52L10.986 66.826L18 61.828L18 62.962L10.608 68.254Z' fill='currentColor')
                rect(x='0.5' y='0.5' width='19' height='32' rx='9.5' stroke='currentColor')
                rect(x='8.5' y='8.5' width='3' height='6' rx='1.5' stroke='currentColor')
